.wrapper {
  background-color: var(--bg);
  display: flex;
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
}

.body {
  max-width: calc(100vw - var(--sidebar-open-width));
  padding: 20px 20px 20px calc(var(--sidebar-open-width) + 20px);
  transition: 0.3s all ease;
  &.hide {
    padding: 20px 20px 20px calc(var(--sidebar-close-width) + 20px);
    max-width: calc(100vw - var(--sidebar-close-width));
  }
  min-height: 100vh;
  overflow-y: scroll;
}