.dashed-button {
  transition: .3s all ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;

  &:disabled {
    cursor: not-allowed;
    filter: brightness(90%);
  }

  &:not(:disabled):hover {
    filter: brightness(80%);
  }

  &:not(:disabled):active {
    filter: brightness(70%);
  }

  &.primary {
    border-color: var(--primary);
  }

  &.secondary {
    border-color: var(--secondary);
  }


  &.success {
    border-color: var(--success);
  }


  &.warning {
    border-color: var(--warning);
  }


  &.danger {
    border-color: var(--danger);
  }


  &.info {
    border-color: var(--info);
  }


  &.link {
    border-color: var(--link);
  }


  &.white {
    border-color: var(--white);
  }

  &.black {
    border-color: var(--black);
  }

  &.black {
    border-color: var(--black);
  }

  &.bg {
    border-color: var(--bg);
  }

  &.bgDark {
    border-color: var(--bg-dark);
  }

  &.h1 {
    padding: var(--padding-3) var(--padding-1);
  }

  &.h2 {
    padding: var(--padding-4) var(--padding-1);
  }

  &.h3 {
    padding: var(--padding-5) var(--padding-2);
  }

  &.h4 {
    padding: var(--padding-5) var(--padding-2);
  }

  &.h5 {
    padding: var(--padding-6) var(--padding-3);
  }

  &.h6 {
    padding: var(--padding-6) var(--padding-3);
  }

  &.border_h1 {
    border-width: 6px;
  }

  &.border_h2 {
    border-width: 5px;
  }

  &.border_3 {
    border-width: 4px;
  }

  &.border_h4 {
    border-width: 3px;
  }

  &.border_h5 {
    border-width: 2px;
  }

  &.border_h6 {
    border-width: 1px;
  }


  &.borderH1 {
    border-radius: var(--border-radius-1);
  }

  &.borderH2 {
    border-radius: var(--border-radius-2);
  }

  &.borderH3 {
    border-radius: var(--border-radius-3);
  }

  &.borderH4 {
    border-radius: var(--border-radius-4);
  }

  &.borderH5 {
    border-radius: var(--border-radius-5);
  }

  &.borderH6 {
    border-radius: var(--border-radius-6);
  }


}
