.wrapper {
  width: 100%;

  & .link {
    display: block;
    padding: var(--padding-5) var(--padding-2);
    width: 100%;
    background-color: var(--bg);
    transition: 0.3s all ease;
    cursor: pointer;
    border-radius: var(--border-radius-6);

    &:hover {
      filter: brightness(85%);
    }
    &:active {
      filter: brightness(75%);
    }
  }
}